{% extends 'db/base.html' %}
{% block content %}
          <div class="row">
            <div class="col-md-10">
              <h1 style="border-bottom: none;"><a class="text-dark" href="{% url 'client_index' %}">Clients</a> &raquo; {% if item.url %}<a href="{{ item.url }}" target="_blank">{{ item.name|default:'Client' }}</a>{% else %}{{ item.name|default:'Client' }}{% endif %}</h1>
            </div>
            <div class="col-md-2 mb-3">
              <!-- http://getbootstrap.com/docs/4.0/components/dropdowns/#split-button-dropdowns -->
              <div class="btn-group float-right">
                <a class="btn btn-lg btn-success" href="{% url 'client_edit' pk=item.pk %}"><i class="fa fa-edit"></i> Edit</a>
                <button type="button" class="btn btn-block btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                  <!-- http://getbootstrap.com/docs/4.0/components/dropdowns/#menu-headers -->
                  <h6 class="dropdown-header">Add</h6>
                  <a class="dropdown-item" href="{% url 'contact_edit' %}?client={{ item.pk }}"><i class="fa fa-plus"></i> Contact</a>
                  <a class="dropdown-item" href="{% url 'project_edit' %}?client={{ item.pk }}"><i class="fa fa-plus"></i> Project</a>
                  <a class="dropdown-item" href="{% url 'note_edit' %}?client={{ item.pk }}"><i class="fa fa-plus"></i> Note</a>
                  <div class="dropdown-divider"></div>
{% include 'actions.html' %}
                </div>
              </div>
            </div>
          </div>
{% include 'copy_form.html' %}
{% include 'delete_form.html' %}
          <div class="row">
            <div class="col-md-12 my-1">
              <h2 class="my-1">Invoices</h2>
{% with items=items.invoices %}
{% include 'table_invoices.html' %}
{% endwith %}
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 my-1">
              <h2 class="my-1">Projects</h2>
{% include 'table_projects.html' %}
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 my-1">
              <h2 class="my-1">Notes</h2>
{% include 'table_notes.html' %}
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 my-1">
              <h2 class="my-1">Contacts</h2>
{% include 'table_contacts.html' %}
            </div>
          </div>
{% endblock %}
