commands:
  install_gdal:
    command: sudo yum-config-manager --enable epel; sudo yum install -y gdal; sudo yum install npm
container_commands:
  django_migrate:
    command: "django-admin.py migrate"
  django_static:
    command: "django-admin.py collectstatic"
  rewrite_http:
    command: cp wsgi.conf ../wsgi.conf
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: aclarknet/wsgi.py
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: aclarknet.settings
packages:
  yum:
    git: []
