commands:
  install_gdal:
    command: sudo yum-config-manager --enable epel; sudo yum install -y gdal
  rewrite_http:
    command: cp wsgi.conf ../wsgi.conf
container_commands:
  static:
    command: "django-admin.py collectstatic"
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: aclarknet/wsgi.py
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: aclarknet.settings
packages:
  yum:
    git: []
