{% extends 'page.html' %}
{% load staticfiles %}
{% block content %}
  <div class="block-xs-middle pb-5">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-lg-6">
          <h1 class="block-titleData frequency">We empower you through Python&trade; and related technologies.</h1>
          <p class="lead mb-4 text-muted">The Python&trade; programming language and open source software provide tremendous opportunities, but often require an expert to take advantage of. We are fully able &amp; available to help by providing services that empower individuals and organizations to benefit from these opportunities.</p>
          <a class="btn btn-primary btn-lg" href="{% url 'contact' %}">Try it now</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
