{% load staticfiles %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'favicon.ico' %}">


    <title>ACLARK.NET, LLC &mdash; Website</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">


    <link rel="stylesheet" href="{% static 'aclarknet.css' %}">
    <link rel="stylesheet" href="{% static 'carousel.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard.css' %}">

    <style>
        body {
            url({% static 'aclark-doe.jpg' %}) center -200px;
        }
    </style>

  </head>

  <body>
    <header>
{% include 'nav.html' %}
    </header>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
{% include 'sidebar.html' %}
        </nav>

        <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
{% include 'messages.html' %}
{% if show_carousel %}
{% include 'carousel.html' %}
{% endif %}
{% block content %}
{% endblock %}
        </main>
        <footer class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 mt-5 py-5" id="footer">
          <div class="row">
            <div class="col-md-6">
              &copy; ACLARK.NET, LLC 2004 &mdash; 2017. All rights reserved.
            </div>
            <div class="col-md-2 mx-auto">
              <a class="text-dark" href="{% url 'contact' %}"><i class="fa fa-send"></i> Contact</a>
            </div>
            <div class="col-md-2 mx-auto"> 
              <a class="text-dark" href="#"><i class="fa fa-arrow-up"></i> Back to top</a>
            </div>
            <div class="col-md-2 mx-auto"> 
              <a class="text-dark" href="{% url 'db_home' %}"><i class="fa fa-database"></i> DB</a>
            </div>
          </div>
        </footer>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <script src="//use.fontawesome.com/ff20ba2d1c.js"></script>

  </body>
</html>
