{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
              <div class="row">
                <div class="col-md-12">
                  <h1>Blog</h1>
                  <h2>Alex Clark's <a href="https://blog.aclark.net" target="_blank">Blog</a>.</h2>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <h2>History</h2>
                  <p class="lead"><i class="fa fa-clock-o fa-5x pull-left"></i>Alex Clark has been blogging <a href="https://blog.aclark.net/2007/03/16/first-post/index.html" target="_blank">since 2007</a> and enjoys writing about a variety of technical and other topics.
                </div>
                <div class="col-md-6"> 
                  <h2>Popular Articles</h2>
                  <p class="lead"><i class="fa fa-bullhorn fa-5x pull-left"></i>
                  <ul>
                    <li><a href="https://blog.aclark.net/2013/02/23/trading-places-trading-scene-explained/index.html" target="_blank">Trading Places Trading Scene Explained</a></li>
                    <li><a href="https://blog.aclark.net/2016/12/15/shout-out-to-shout-irc/index.html" target="_blank">A Shout Out to Shout IRC</a></li>
                    <li><a href="https://blog.aclark.net/2015/02/10/please-do-my-homework/index.html" target="_blank">Please Do My Homework</a></li>
                  </ul>
                  </p>
                </div>
              </div>
            </div>
{% endblock %}
