{% load static %}


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <title>
      
        ACLARK.NET, LLC
      
    </title>

    
      <link href='https://fonts.googleapis.com/css?family=Lora:400,400italic|Work+Sans:300,400,500,600' rel='stylesheet' type='text/css'>
      <link href="{% static 'toolkit-startup.css' %}" rel="stylesheet">
      <link href="{% static 'application-startup.css' %}" rel="stylesheet">
    

  </head>


<body>

<div class="stage" id="stage">

<div class="block block-inverse block-fill-height app-header"
     style="background-image: url({% static 'startup-1.jpg' %});">

  <div class="container py-4 fixed-top app-navbar">
  <nav class="navbar navbar-transparent navbar-padded navbar-expand-md">
    <a class="navbar-brand mr-auto" href="{% url 'home' %}">
      <strong style="background: #fff; padding: 12px; border-radius: 4px; color: #28669F;">ACLARK.NET, LLC</strong>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-target="#stage"
      data-toggle="stage"
      data-distance="-250">
      <span class="navbar-toggler-icon"></span>
    </button>

{% include 'nav.html' %}

  </nav>
</div>

  <img class="app-graph"  src="{% static 'startup-0.svg' %}">

  <div class="block-xs-middle pb-5">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-lg-6">
          <h1 class="block-titleData frequency">A partial list of our valued clients.</h1> 
        </div>
      </div>
    </div>
  </div>
</div>

<div class="block block-secondary app-iphone-block" id="projects"> 
  <div class="container">
    <div class="row app-align-center">

      <div class="col-sm-5 d-none d-md-block">
      </div>

      <div class="col-md-6 col-sm-12 ml-auto" id="team">

        <h6 class="text-muted text-uppercase">Our Clients</h6>

        {% for client in clients %}
        <div class="row mb-5">
          <div class="col-md-12">
            <i class="fa fa-{% if client.icon %}{{ client.icon }}{% else %}building{% endif %} fa-5x pull-left"></i>
            <h3>{{ client.name }}</h3>
            <p class="lead">{{ client.description|striptags }}</p>
          </div>
        </div>
        {% endfor %}

      </div>

    </div>

  </div>
</div>

{% include 'footer.html' %}

</div>

{% include 'foot.html' %}

</body>
</html>

