          <li class="nav-item dropdown d-block d-sm-none">  <!-- https://getbootstrap.com/docs/4.0/utilities/display/#hiding-elements -->
            <a class="nav-link dropdown-toggle {% if active_nav == 'more' %}active{% endif %}" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">More</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="{% url 'book' %}">Book</a>
              <a class="dropdown-item" href="{% url 'blog' %}">Blog</a>
              <a class="dropdown-item" href="{% url 'history' %}">History</a>
              <a class="dropdown-item" href="{% url 'location' %}">Location</a>
              <a class="dropdown-item" href="{% url 'open-source' %}">Open Source</a>
              <a class="dropdown-item" href="{% url 'community' %}">Community Service</a>
            </div>
          </li>
