{% load static %}

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <!-- https://paulferrett.com/fontawesome-favicon/ -->
    <link rel="icon" href="{% static 'favicon.ico' %}">

    <title>
      
        ACLARK.NET, LLC
      
    </title>

      <link href="https://fonts.googleapis.com/css?family=Lora:400,400italic|Work+Sans:300,400,500,600" rel="stylesheet" type="text/css">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css" rel="stylesheet" type="text/css">
      <link href="{% static 'toolkit-startup.min.css' %}" rel="stylesheet">

    {% block head %}

      <link href="{% static 'application-startup.css' %}" rel="stylesheet">

    {% endblock %}

      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

  </head>
