{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
  <div class="block-xs-middle pb-5">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-lg-6">
          <h1 class="block-titleData frequency">Successfully building web applications since 2004.</h1>
          <p class="lead mb-4 text-muted">Create professional web applications efficiently, effectively and economically.</p>
          <a class="btn btn-primary btn-lg" href="{% url 'contact' %}">Try it now</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
