      <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background: #444854">
        <a class="navbar-brand" href="{% url 'home' %}">ACLARK.NET, LLC</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if active_nav == 'about' %}active{% endif %}"><a class="nav-link" href="{% url 'about' %}">About</a></li>
            <li class="nav-item {% if active_nav == 'clients' %}active{% endif %}"><a class="nav-link" href="{% url 'clients' %}">Clients</a></li>
            <li class="nav-item {% if active_nav == 'contact' %}active{% endif %}"><a class="nav-link" href="{% url 'contact' %}">Contact</a></li>
            <li class="nav-item {% if active_nav == 'projects' %}active{% endif %}"><a class="nav-link" href="{% url 'projects' %}">Projects</a></li>
            <li class="nav-item {% if active_nav == 'services' %}active{% endif %}"><a class="nav-link" href="{% url 'services' %}">Services</a></li>
            <li class="nav-item {% if active_nav == 'team' %}active{% endif %}"><a class="nav-link" href="{% url 'team' %}">Team</a></li>
            <li class="nav-item {% if active_nav == 'testimonials' %}active{% endif %}"><a class="nav-link" href="{% url 'testimonials' %}">Testimonials</a></li>
{% include 'dropdown.html' %}
          </ul>
        </div>
      </nav>
