{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
              <div class="row">
                <div class="col-md-12">
                  <h1>Open Source</h1>
                  <h2>Alex Clark's contributions to open source.</h2>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 my-3 py-3">
                  <p class="lead"><i class="fa fa-check fa-5x px-5 float-left"></i> In 2004, <a href="{% url 'team' %}#aclark">Alex Clark</a> was inspired by the <a target="_blank" href="https://plone.com">Plone CMS</a> project to make his first contributions to open source. For the next few years, he contributed to several Plone add-ons including <a target="_blank" href="https://github.com/collective/Products.PloneHelpCenter">Products.PloneHelpCenter</a>, <a target="_blank" href="https://github.com/collective/Products.PloneSoftwareCenter">Products.PloneSoftwareCenter</a>, and <a target="_blank" href="https://github.com/plone/Products.PloneOrg">Products.PloneOrg</a>.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 my-3 py-3">
                  <p class="lead"><i class="fa fa-check fa-5x px-5 float-left"></i> In 2009, Alex Clark completed his first Plone Improvement Proposal: <strong>Add ability to choose group when adding new site members</strong>.</p>
                </div>
              </div>
              <div class="row" id="pillow">
                <div class="col-md-8"> 
                  <p class="lead"><i class="fa fa-check fa-5x px-5 float-left"></i> In 2010, Alex Clark created <a target="_blank" href="http://python-pillow.org">Pillow</a> (a fork of the popular Python Imaging Library created by Fredrik Lundh). As of early 2017, Pillow has been downloaded over 15 million times, can be found in many major Linux distributions such as Ubuntu & Fedora Core, and is used by Fortune-100-serving companies like <a target="_blank" href="https://www.atlassian.com/">Atlassian</a>. Please <a href="{% url 'contact' %}">contact us</a> for professional Pillow support.</a></p>
                </div>
                <div class="col-md-4"> 
                  <img class="img-thumbnail" style="background: #24261A" src="{% static 'pillow-logo.png' %}">
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 my-3 py-3">
                  <p class="lead"><i class="fa fa-check fa-5x px-5 float-left"></i> In 2011, Alex Clark completed his second Plone Improvement Proposal: <strong>Add 'test mail server' form to Mail Settings</strong>.</p>
                </div>
              </div>
              <div class="row" id="plock">
                <div class="col-md-12 my-3 py-3">
                  <p class="lead"><i class="fa fa-check fa-5x px-5 float-left"></i> In 2013, in an effort to simplify Plone installation, Alex Clark began the <a href="https://github.com/plock/plock" target="_blank">Plock project</a>.</p>
                </div>
              </div>
              <div class="row" id="plock">
                <div class="col-md-12 my-3 py-3">
                  <p class="lead"><i class="fa fa-check fa-5x px-5 float-left"></i> In late 2015, in an effort to avoid the per-developer cost of commercial invoicing and time tracking software, Alex Clark developed his own <a href="https://github.com/aclarknet/aclarknet-database" target="_blank">invoicing and time tracking software</a>. It has replaced commercial software and been in use at ACLARK.NET, LLC since January 1, 2016.</p>
                </div>
              </div>
              <div class="row" id="plock">
                <div class="col-md-12 my-3 py-3">
                  <p class="lead"><i class="fa fa-check fa-5x px-5 float-left"></i> In early 2016, in an effort to simplify development projects, Alex Clark began the <a href="https://github.com/aclark4life/project-makefile" target="_blank">Project Makefile</a> project.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 my-3 py-3">
                  <p class="lead"><i class="fa fa-check fa-5x px-5 float-left"></i> <a target="_blank" href="https://github.com/aclarknet/aclarknet-website">This website</a> launched in early 2015 & updated in early 2017 is open source.</p>
                </div>
              </div>
{% endblock %}
