          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link text-dark" href="{% url 'book' %}">Book</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="{% url 'blog' %}">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="{% url 'history' %}">History</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="{% url 'location' %}">Location</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="{% url 'open-source' %}">Open Source</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="{% url 'community' %}">Community Service</a>
            </li>
          </ul>
