<div class="stage-shelf stage-shelf-right hidden" id="sidebar">
  <ul class="nav nav-bordered nav-stacked flex-column">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'about' %}">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'services' %}">Services</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'clients' %}">Clients</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'team' %}">Team</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'contact' %}">Contact</a>
    </li>
  </ul>
</div>
