body {
  color: #5a5a5a;
}
h1 {
    border-bottom: none !important;
}
#myCarousel {
    margin: 0;
    padding: 0;
}
.carousel-inner {
    border-radius: 5px;
}
.sidebar {
    background: #F7F7F7;
}
#sitemap ul {
    list-style-type: none;
}
.featurette-divider {
    margin: 3rem 0 !important;
}
.jumbotron {
    border-radius: 0;
    background: transparent;
    text-align: center;
}
a:hover {
    text-decoration: none;
}
